In [68]:
import pandas as pd

In [69]:
df = pd.read_csv("data/income_by_country.csv")
df.head()

        Entity Code  Year     Income
0  Afghanistan  AFG  2020  2790.5435
1  Afghanistan  AFG  2021  2157.1118
2  Afghanistan  AFG  2022  1987.6549
3  Afghanistan  AFG  2023  2002.1973
4      Albania  ALB  1997  5033.6930

In [70]:
to_remove = [
    "World",
    "Upper-middle-income countries",
    "South Asia (WB)",
    "North America (WB)",
    "Middle-income countries",
    "Lower-middle-income countries",
    "Latin America and Caribbean (WB)",
    "High-income countries",
    "East Asia and Pacific (WB)"
]

df = df[(df["Year"] == 2023) & (~df["Entity"].isin(to_remove))][["Entity", "Income"]]
df.head()

          Entity      Income
3    Afghanistan   2002.1973
30       Albania  18002.4940
64       Algeria  14934.9700
87        Angola   6628.0820
122    Argentina  26538.6100

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 114 entries, 3 to 4574
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Entity  114 non-null    object
 1   Income  114 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.7+ KB

In [72]:
df.set_index("Entity")["Income"].to_json(path_or_buf="data/income_by_country.json")
df["Entity"].to_json(path_or_buf="data/countries.json", orient="values")